argon2-cffi==21.1.0
asgiref==3.4.1
attrs==21.2.0
backcall==0.2.0
backports.entry-points-selectable==1.1.0
beautifulsoup4==4.10.0
bleach==4.1.0
blis==0.7.5
catalogue==2.0.6
certifi==2021.5.30
cffi==1.15.0
charset-normalizer==2.0.5
click==8.0.3
ColabTurtle==2.1.0
colorama==0.4.4
comtypes==1.1.10
cycler==0.10.0
cymem==2.0.6
debugpy==1.5.1
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.3
Django==3.2.7
django-mssql-backend==2.8.1
docopt==0.6.2
entrypoints==0.3
filelock==3.3.1
gunicorn==20.1.0
idna==3.2
ipykernel==6.4.2
ipython==7.28.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.2
joblib==1.1.0
Js2Py==0.71
jsonschema==4.1.2
jupyter-client==7.0.6
jupyter-core==4.8.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
langcodes==3.3.0
MarkupSafe==2.0.1
matplotlib==3.4.3
matplotlib-inline==0.1.3
mistune==0.8.4
mlxtend==0.19.0
msgpack==1.0.2
msgpack-python==0.5.6
murmurhash==1.0.6
nbclient==0.5.4
nbconvert==6.2.0
nbformat==5.1.3
nest-asyncio==1.5.1
nltk==3.6.5
notebook==6.4.5
numpy==1.19.4
packaging==21.0
pandas==1.1.4
pandocfilters==1.5.0
parso==0.8.2
pathy==0.6.1
pickleshare==0.7.5
Pillow==8.4.0
pipwin==0.5.1
platformdirs==2.4.0
preshed==3.0.6
prometheus-client==0.11.0
prompt-toolkit==3.0.21
PyAudio @ file:///C:/Users/THINH/pipwin/PyAudio-0.2.11-cp39-cp39-win_amd64.whl
pycparser==2.20
pydantic==1.8.2
Pygments==2.10.0
pyjsparser==2.7.1
pyodbc==4.0.32
pyparsing==2.4.7
pypiwin32==223
PyPrind==2.11.3
pyrsistent==0.18.0
pySmartDL==1.3.4
pyspellchecker==0.6.2
python-dateutil==2.8.1
pyttsx3==2.90
pytz==2020.4
pywin32==301
pywinpty==1.1.4
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
scikit-learn==1.0
scipy==1.7.1
Send2Trash==1.8.0
six==1.15.0
smart-open==5.2.1
soupsieve==2.2.1
spacy==3.2.0
spacy-legacy==3.0.8
spacy-loggers==1.0.1
SpeechRecognition==3.8.1
sqlparse==0.4.2
srsly==2.4.2
terminado==0.12.1
testpath==0.5.0
thinc==8.0.13
threadpoolctl==3.0.0
tornado==6.1
tqdm==4.62.3
traitlets==5.1.0
typer==0.4.0
typing_extensions==4.0.0
tzdata==2021.1
tzlocal==3.0
urllib3==1.26.6
virtualenv==20.8.1
wasabi==0.8.2
wcwidth==0.2.5
webencodings==0.5.1
