{% extends 'main.html' %}
{% block content %}

<style>
    .Marketing-container{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
</style>

<div class="Marketing-container">
    <div>
        <h5>{{function_count}} rooms available</h5>
        <a href="{% url 'create-meeting' %}">Create Meeting</a>
        <hr>
        <div>
            <h3> Department: Marketing</h3>
            
        </div>
        
        <div>
        <a href="{% url 'home' %}" >Back</a>
        
        </div>
    </div>

    <div>
        
        {% for function in functions %}
        <div>   
            
            <h3> <a href="{% url 'function' function.id %}">{{function.name}}</a> -- <span>host by: @{{function.host.username}}</span> </h3>
            <a href="{% url 'update-meeting' function.id %}">Edit</a>
            <a href="{% url 'delete-meeting' function.id %}">Delete</a>     
            
            <hr>
        </div>          
        {% endfor %}
    </div>
</div>
{% endblock content %}